:root {
  --accent: 283, 145, 69;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #d66734 30%,
    white 60%
  );
  --font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  background-color: #f6f6f6;
}

main {
  margin: auto;
  padding-block: 1.5rem;
  max-width: 75ch;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.header-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  border-radius: 50%;
  width: 150px;
  height: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

.card {
  list-style: none;
  display: flex;
  padding: 0.15rem;
  background-color: white;
  background-image: var(--accent-gradient);
  background-size: 400%;
  border-radius: 0.5rem;
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.card > a {
  width: 100%;
  text-decoration: none;
  line-height: 1.4;
  padding: 1rem 1.3rem;
  border-radius: 0.35rem;
  color: #111;
  background-color: white;
  opacity: 0.8;
}

.card:is(:hover, :focus-within) {
  background-position: 0;
}
.card:is(:hover, :focus-within) h2 {
  color: rgb(var(--accent));
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

p {
  margin-top: 0.5rem;
  color: #444;
}

.box {
  line-height: 1.6;
  margin: 1rem 0;
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
}

.footer {
  text-align: center;
}
